/*
Code css By https://github.com/Kuuuuuuuu


*/

* {
    color-scheme: dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-track {
    scrollbar-color: #a3d9fd #212529
    
}

::-webkit-scrollbar-thumb {
    background-color: #a3dafd;
    border: none;
    border-radius: 10px
}

.background-1 {
    background-size:100svh;
    background-repeat:repeat;
    background-image: url(4.gif);
    transition: width .35s linear;
    overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scrollbar-color: #07a2f0 #212529;
    -moz-tab-size: 3;
    tab-size: 3;
    font-family: sans-serif;
    line-height: 1.5
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: #0e254f 50%/cover no-repeat fixed;
    overflow-x: hidden;
    font-family: Mali,cursive,sans-serif!important
}

body .__wallpaper {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: .65;
    filter: blur(5px)saturate(1.25)brightness(.65)contrast(1.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

body .__animation {
    animation: .65s opacity
}

body .__loading {
    margin: auto;
    animation: 1.2s linear infinite spin;
    display: block
}

body .__text-center {
    text-align: center
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    vertical-align: middle;
    overflow: hidden
}

button {
    cursor: pointer;
    font: inherit;
    text-transform: none;
    background: 0 0;
    border: none;
    outline: none;
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

hr {
    opacity: .25;
    border: 0;
    border-top: 2px solid #000;
    margin: 1rem 0
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 .5rem;
    font-weight: 500;
    line-height: 1.2
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 120px auto 0;
    padding: 0 5px
}

.wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    display: flex;
    overflow-y: hidden
}

.snow-container {
    z-index: 9999999;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden
}

.snow-container .snow {
    margin-top: -10px;
    position: absolute
}

.activity-box {
    z-index: 9999;
    background-color: #000000d9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden
}

.activity-box .header,.activity-box .__song-name,.activity-box .__progress-time {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600
}

.activity-box .__song-album {
    border-radius: 50%;
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    margin: 10px 0;
    animation: 10s linear infinite spin
}

.activity-box .__close-button {
    color: #8cc9ff;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 20px;
    scale: 4
}

.activity-box .__progress-bar {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    height: 10px;
    margin: 10px 0
}

.activity-box .__progress-bar__fill {
    background-color: #a3ff8c;
    border-radius: 10px;
    width: 0;
    height: 100%;
    transition: width .35s linear
}

.box_new{
    background-color:  #e3f1ffe1;
    border-radius: 12px;
    width: 120px;
    margin: 10px auto;
    padding: 0.5rem 0.5rem;
    transition: all .35s;
    overflow: hidden;
    box-shadow: 0 0 10px #00000040
}

.box {
    background-color: #aed4ffd3;
    border-radius: 12px;
    width: 700px;
    margin: 10px auto;
    padding: 1.25rem 1.75rem;
    transition: all .35s;
    overflow: hidden;
    box-shadow: 0 0 10px #00000040
}

.box .header {
    color: #000;
    margin: 12.5px -25px;
    font-size: 1.15rem;
    font-weight: 600;
    display: block
    
}

.box .button {
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: #ffffffcf;
    border: 1px solid #000;
    border-radius: 6px;
    width: 90px;
    height: 35px;
    margin: 15px 3px 3px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block
}

.box .button:hover,.box .button:active {
    background-color: #e6e6e6;
    border-color: #999;
    outline: none
}

.box .button span {
    margin: 5px
}

.box .__profile-container {
    display: inline-block;
    position: relative
}

.box .__profile-container .__christmas-hat {
    pointer-events: none;
    z-index: 9999;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -12px;
    left: 40px;
    transform: rotate(-5deg)
}

.box .__picture {
    vertical-align: top;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px 15px 15px 0
}

.box .__title {
    color: #000;
    vertical-align: top;
    margin: 0 20px;
    font-size: 1.25rem;
    display: inline-block
}

.box .__title .button {
    width: 35px;
    height: 35px;
    padding: 0 5px;
    font-size: 0
}

.box .__title span {
    font-size: 75%
}

.box .description {
    color: #000;
    text-align: left;
    word-spacing: 2.5px;
    margin: 5px 0 30px 30px;
    font-size: .82em;
    line-height: 1.5rem
    
}

.box .pagination {
    justify-content: center;
    margin-top: 10px;
    display: flex
}

.box .pagination button {
    color: #000;
    cursor: pointer;
    background-color: #74baff;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0 10px;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600
}

.box .pagination button:hover {
    background-color: #e6e6e6;
    border: 1px solid #999
}

.box .pagination button:disabled {
    cursor: not-allowed;
    background-color: #999;
    border: none
}

.box .pagination.active {
    color: #fff;
    background-color: #e6e6e6
}

.box .lanyard-box {
    background-color: rgba(255, 255, 255, 0.284);
    border-radius: 16px;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 15px;
    transition: all .3s;
    display: flex;
    box-shadow: 0 0 15px #00000018
}

.box .lanyard-box .__user-profile {
    filter: saturate(1.25)contrast(.95)drop-shadow(0 0 10px #00000040);
    border-radius: 50%;
    justify-content: flex-end;
    align-items: center;
    width: 60px;
    height: 60px;
    display: inline-flex
}

.box .lanyard-box .__spotify-button {
    background-color: #1db954;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block
}

.box .lanyard-box .__spotify-button:hover,.box .lanyard-box .__spotify-button:focus,.box .lanyard-box .__spotify-button:active {
    background-color: #1ed760
}

.box .lanyard-box .__user-name,.box .lanyard-box .__user-status {
    color: #000;
    text-align: right;
    margin: auto 0;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex
}

.box .lanyard-box .__user-status {
    word-spacing: 3px;
    font-size: .85em;
    line-height: .85rem
}

.box .lanyard-box .__user-status .circle-green,.box .lanyard-box .__user-status .circle-orange,.box .lanyard-box .__user-status .circle-red,.box .lanyard-box .__user-status .circle-gray {
    filter: brightness(.8)saturate(1.25)contrast(.85);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 2px 8px 0 0;
    display: inline-block
}

.box .lanyard-box .__user-status .circle-green {
    background-color: #a3ff8c
}

.box .lanyard-box .__user-status .circle-orange {
    background-color: #ffb27a
}

.box .lanyard-box .__user-status .circle-red {
    background-color: #ff8c8c
}

.box .lanyard-box .__user-status .circle-gray {
    background-color: #b3b3b3
}

.box .project-box {
    color: #000;
    background-color: #74bcff;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    overflow: hidden
}

.box .project-box .__header,.box .project-box .__description {
    text-align: center;
    margin: 5px auto;
    font-size: 1.5rem;
    font-weight: 600
}

.box .project-box .__description {
    font-size: 1rem
}

.box .project-box .__status {
    text-align: center;
    border: 1px solid #000;
    border-radius: 32px;
    margin: 15px auto;
    padding: 1px 15px;
    font-size: .8rem;
    font-weight: 600
}

.box .project-box .__status p {
    margin: 5px
}

.box .project-box .__status.active {
    background-color: #a3ff8c
}

.box .project-box .__status.inactive {
    background-color: #8fecff
}

.box .project-box .__status.archived {
    background-color: #ff8c8c
}

.box .project-box .__image {
    object-fit: cover;
    object-position: center;
    border: 1px solid #000;
    border-radius: 30px;
    max-width: 50%;
    margin: 0 auto;
    display: block
}

.box .project-box button {
    background-color: #74bcff;
    margin: 15px auto
}

.social {
    flex-wrap: wrap;
    justify-content: center;
    display: flex
}

.social .icon {
    color: #000;
    background-color: #74a7ff;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    margin: 5px;
    padding: 0;
    font-size: 15px;
    transition: background .3s linear,color .3s linear;
    display: flex
}

.social .icon svg {
    margin-right: 15px
}

.social .icon:hover {
    color: #fff!important
}

.social .icon.steam:hover {
    background-color: #000
}

.social .icon.twitch:hover {
    background-color: #6441a5
}

.social .icon.email:hover {
    background-color: pink
}

.social .icon.twitter:hover {
    background-color: #00b7ff
}

.social .icon.youtube:hover {
    background-color: red
}

.social .icon.github:hover {
    background-color: #333
}

.social .icon.spotify:hover {
    background-color: #25da64
}

.social .icon.statsfm:hover {
    background-color: #1ed760
}

.social .icon.discord:hover {
    background-color: #737ff2
}

.social .icon.telegram:hover {
    background-color: #08c
}

.social .icon.wakatime:hover {
    background-color: #48baf3
}

.webRing {
    z-index: 999;
    background-color: #74baff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: background-color .3s linear;
    display: flex;
    position: fixed;
    bottom: 12px;
    right: 12px;
    box-shadow: 0 0 10px #0003
}

.webRing img {
    width: 25px;
    height: 25px;
    transition: transform .3s linear
}

.webRing:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0000;
    background-image: linear-gradient(100deg,#8cc0ff,#7aa4ff,#8fd4ff,#a3ff8c,#8affff,#8c9fff,#d18bff,#ff8cd5);
    background-size: 800%;
    animation: 20s linear infinite glowing
}

.webRing:hover img {
    transform: rotate(360deg)
}

@keyframes glowing {
    0% {
        background-position: 0
    }

    50% {
        background-position: 800% 0
    }

    to {
        background-position: 0
    }
}

@media only screen and (max-width: 375px) {
    .box .lanyard-box {
        flex-direction:column;
        align-items: center;
        padding: .85rem
    }

    .box .lanyard-box .__user-profile {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
        display: inline-block
    }

    .box .lanyard-box .__user-name,.box .lanyard-box .__user-status {
        text-align: center;
        margin-bottom: 5px;
        display: inline-block
    }

    .box .lanyard-box .__spotify-button {
        margin: 10px
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin:10px 0
    }

    .container .wrapper {
        padding: 0 10px
    }

    .container .activity-box .header,.container .activity-box .__song-name {
        font-size: 1.2rem
    }

    .container .activity-box .__song-album {
        max-width: 200px;
        max-height: 200px
    }

    .container .box {
        max-width: 95%;
        padding: 1.15rem 1.7rem
    }

    .container .box .project-box {
        width: 100%
    }

    .container .box .pagination button {
        margin: 0 2px;
        padding: 8px 15px;
        font-size: 15px
    }

    .container .box .__title {
        margin: 5px 8px;
        font-size: 1rem
    }

    .container .box .__title span {
        font-size: .85em
    }

    .container .box .description {
        margin: 10px 0 20px 20px;
        font-size: .75rem;
        line-height: 1.5rem
    }

    .container .box .description h1 {
        margin: 5px -20px;
        font-size: 1rem
    }
}

@keyframes opacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes snowFall {
    0% {
        transform: translate(0)
    }

    to {
        transform: translateY(100vh)
    }
}
